<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Edit Account</h2>
      <h5>アカウントの編集</h5>
      <%= link_to "ログアウト", destroy_staff_session_path, data: { turbo_method: :delete }, class: 'btn'%>
      <%= link_to "トップページに戻る", root_path, class: 'btn'%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_staff, local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :staff_name, '職員名'%>
          </div>
          <div class='field-input'>
            <%= f.text_field :staff_name, autofocus: true%>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :staff_name_kana, '職員名カナ'%>
          </div>
          <div class='field-input'>
            <%= f.text_field :staff_name_kana, autofocus: true%>
          </div>
        </div>
        
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "Update", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
