<%# 全体 %>
  <div class="wrapper">

<%# 左側 %>
    <div class="side-menu">
      <div class="side-header">
        <div class="side-box">
          <p class="app-name">SUPPORT CUBE</p>
        </div>
      </div>
      <div class="side-bar">
          <div class="menu-box">
            <a href="/referrals/new" class="category-name side-bar-link">案件登録</a>
            <a href="/partners/new" class="category-name side-bar-link">紹介元登録</a>
            <a href="/doctors/new" class="category-name side-bar-link">担当医登録</a>
            <p class="category-name"></p>
            <p class="category-name">カレンダー</p>
            <p class="category-name">検索</p>
          </div>
      </div>
    </div>


<%# 右側 %>
    <div class="main">
      <div class="main-header">
        <div class="header-leftbox">
          <h2 class="current-group">職員ID : &nbsp;<%= current_staff.employee_id %></h2>
          <ul class="member"> 担当者 : &nbsp; 
          <%= link_to current_staff.staff_name, edit_staff_path(current_staff) %>
          </ul>
        </div>
        <%= link_to "ログアウト", destroy_staff_session_path, data: { turbo_method: :delete }, class: 'logout-btn'%>
      </div>

      <div class="main-content">
        <section class="before-judge">
            <h2>判定前</h2>
            <hr class="divider"> <!-- 横線を追加 -->
            <p>ここに判定前の状態やデータを記載します。</p>
        <table>
            <thead>
                <tr>
                    <th>状況</th>
                    <th>患者名</th>
                    <th>年齢</th>
                    <th>性別</th>
                    <th>入院歴</th>
                    <th>紹介元</th>
                    <th>希望時期</th>
                    <th>目的</th>
                    <th>担当</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
            <% @before_referrals.each do |referral| %>
                <tr>
                  <%# 調整状況 %>
                    <td> 
                        <% if referral.status == 'hearing' %>
                          聴取中
                        <% elsif referral.status == 'pending' %>
                          判定待ち
                        <% elsif referral.status == 'waiting' %>
                          返答待ち
                        <% elsif referral.status == 'canceled' %>
                          キャンセル
                        <% end %>
                    </td>
                  <%# 患者名 %>
                    <td><%= referral.patient_name %></td>
                  <%# 年齢 %>
                    <td><%= referral.age %></td>
                  <%# 性別 %>
                    <td>
                        <% if referral.gender == 'male' %>
                          男性
                        <% elsif referral.gender == 'female' %>
                          女性
                        <% end %>
                    </td>
                  <%# 入院歴 %>
                    <td>
                        <% if referral.history == 'returning' %>
                          リピーター
                        <% elsif referral.history == 'new_entry' %>
                          新患
                        <% end %>
                    </td>
                  <%# 医療期間名 %>
                    <td><%= referral.partner.institution_name %></td>
                  <%# 入院希望日 %>
                    <td><%= referral.requested_date %></td>
                  <%# 入院目的 %>
                    <td>
                        <% if referral.purpose == 'rehabilitation' %>
                          リハビリ
                        <% elsif referral.purpose == 'respite' %>
                          レスパイト
                        <% elsif referral.purpose == 'other' %>
                          その他
                        <% end %>
                      </td>
                  <%# 担当者 %>
                    <td><%= referral.staff.staff_name %></td>

                    <td><%= link_to '詳細', referral_path(referral.id), class: 'btn-detail' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          </section>
          <section class="after-judge">
              <h2>判定後</h2>
              <hr class="divider"> <!-- 横線を追加 -->
              <p>ここに判定後の状態やデータを記載します。</p>
          <table>
        <thead>
            <tr>
                <th>ベッド準備</th>
                <th>決定日時</th>
                <th>患者名</th>
                <th>年齢</th>
                <th>性別</th>
                <th>紹介元</th>
                <th>希望時期</th>
                <th>目的</th>
                <th>担当</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
          <% @after_referrals.each do |referral| %>
            <tr>
              <%# ベッド準備 %>
                <td>
                  <% if referral.determination == 'preparing' %>
                    判定前
                  <% elsif referral.determination == 'requested' %>
                    判定希望
                  <% elsif referral.determination == 'declined' %>
                    お断り
                  <% elsif referral.determination == 'adjusting' %>
                    日程調整中
                  <% elsif referral.determination == 'adjusted' %>
                    調整完了
                  <% elsif referral.determination == 'accepted' %>
                    受入済
                  <% end %>
                </td>
              <%# 入院受入日 %>
                <td><%= referral.admission_date %></td>
              <%# 患者名 %>
                <td><%= referral.patient_name %></td>
              <%# 年齢 %>
                <td><%= referral.age %></td>
              <%# 性別 %>
                <td>
                    <% if referral.gender == 'male' %>
                      男性
                    <% elsif referral.gender == 'female' %>
                      女性
                    <% end %>
                </td>
              <%# 医療期間名 %>
                <td><%= referral.partner.institution_name %></td>
              <%# 入院希望日 %>
                <td><%= referral.requested_date %></td>
              <%# 入院目的 %>
                <td>
                    <% if referral.purpose == 'rehabilitation' %>
                      リハビリ
                    <% elsif referral.purpose == 'respite' %>
                      レスパイト
                    <% elsif referral.purpose == 'other' %>
                      その他
                    <% end %>
                  </td>
              <%# 担当者 %>
                <td><%= referral.staff.staff_name %></td>

                <td><%= link_to '詳細', referral_path(referral.id), class: 'btn-detail' %></td>
            </tr>
        </tbody>
        <% end %>
      </table>
      </section>
      </div>
    </div>

  </div>
