<div class='partner-form'>
  <h1>担当医マスター登録</h1>
  <%=form_with model: @doctor, local: true do |f|%>

      <% if @doctor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>
          <ul>
            <% @doctor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class='doctor-form__field'>
      <div class='doctor-form__field--left'>
        <%= f.label :doctor_name, :担当医師名, class: 'doctor-form__label'%>
      </div>
      <div class='doctor-form__field--right'>
        <%= f.text_field :doctor_name, class: 'doctor-form__input', placeholder: '担当医を入力してください'%>
      </div>
    </div>
    <div class='doctor-form__field'>
    </div>
    <div class='doctor-form__field'>
      <div class='doctor-form__field--left'>
        <%= f.label :specialty_id, :診療科, class: 'partner-form__label'%>
      </div>
      <div class='doctor-form__field--right'>
        <%= f.collection_select(:specialty_id, Specialty.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>

    </div>
  
    <div class='doctor-form__field'>
      <div class='doctor-form__field--left'></div>
      <div class='doctor-form__field--right'>
        <%= f.submit "登録", class: 'partner-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
